:root{
    --texto-rubik:'Rubik', sans-serif;
}
:root{
    --color-menu: #4a4a4a;
}
:root{
    --color-fondo: #3CDBC0;
}
:root{
    --color-texto-principal: #FFFFFF;
}
.header{
    font-family: var(--texto-rubik);
    color: var(--color-menu);
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barra-navegacion{
   font-family: var(--texto-rubik);
    display: flex;
    font-size: 16px;
    margin-bottom: 13px;
    justify-content: center;
}
.lista{
    display: flex;
    gap: 20px;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 155px;
   margin-top: 10px;
   margin-bottom: 10px;
   
}
.h1{
    font-family: var(--texto-rubik);
    font-size: 30px;
    color: var(--color-texto-principal);
    width: 10ch;
    text-align: center;
    font-weight: 700;
}
@media screen and (min-width: 768px){
   .header{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
   } 
   .barra-navegacion{
    padding-top: 40px;
   }
.img{
    margin-top: 20px;
    margin-bottom: 20px;
}
}
.h1{
    font-size: 40px;
}